.sage-button {
  display: block;
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.sage-button--primary {
  background-color: var(--main-green);
  color: white;
}

.sage-button--primary:hover {
  background-color: var(--main-green-dark);
}

.sage-button--secondary {
  background-color: var(--main-sage);
  color: black;
}

.sage-button--secondary:hover {
  background-color: var(--main-sage-dark);
}

.sage-button:disabled {
  background-color: #babfbc;
  color: #5b5b5b;
  cursor: not-allowed;
}
