@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

:root {
  @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --main-sage: #F1F3EC;
  --main-sage-dark: rgb(229, 233, 218);
  --main-green: #558059;
  --main-green-dark: #1f4623;
  --main-coral: #FF9078;
  --font-title: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--main-sage);
  color: var(--main-black);
  font-family: var(--font-body);
  font-size: 14px;
}

body * {
  box-sizing: border-box;
}

.sage-container {
  padding: 24px 100px;
  text-align: center;
}

h1 {
  font-family: var(--font-title);
  margin: 0 0 16px;
  color: var(--main-green);
  font-size: 48px;
}
