:root {
  @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --main-sage: #F1F3EC;
  --main-green: #558059;
  --green-hover: #205325;
  --main-coral: #FF9078;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--main-sage);
  color: var(--main-navy);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 22px;
}

body * {
  box-sizing: border-box;
}

.sage-container {
  padding: 24px 100px;
  text-align: center;
}
