.panel-add {
   margin-left: 10px;
}

.panel-meal {
  font-size: 16px;
  margin: 0 0 4px 4px;
  border-radius: 3px;
  position: relative;
  margin-right: 10px;
  padding: 4px 8px;
}

.panel-meals {
  width: fit-content;
  float: left;
  text-align: left;
  height: fit-content;
}
