.sage-recipes-page {
  text-align: left;
  position: relative;
}

.sage-recipes--toolbar {
  display: flex;
}

.sage-recipes--toolbar .sage-input {
  width: 750px;
}

.sage-recipes {
  padding: 32px 8px;
  width: 850px;
}

.sage-recipes--add {
  margin: auto 0 auto 16px;
  height: 32px;
}

.sage-recipes--warning-modal {
  margin: 16px auto 0;
  display: flex;
}

.sage-recipes--modal-button {
  margin-right: 8px;
}
