.panel-container {
  width: 800px;
  background-color: var(--main-sage-dark);
  height: fit-content;
  padding: 8px 0;
  border-radius: 6px;
  border: 1px solid var(--main-green);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 16px 24px;
}

.panel-title {
  float: left;
  font-size: 18px;
  color: var(--main-green-dark);
  font-weight: bold;
  width: 500px;
  text-align: left;
}

.panel-title--expanded {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--main-green-dark);
}

.panel-icon {
  float: right;
  color: var(--main-green-dark);
  padding-top: 2px;
  cursor: pointer;
}

.panel-header {
  width: 100%;
}

.panel-content {
  margin: 16px 0 0;
  display: inline-block;
  width: 98%;
  height: fit-content;
}

.panel-delete-meal {
  padding-left: 20px;
  padding-top: 4px;
}

.panel-meal {
  display: flex;
  margin-bottom: 6px;
}

.sage-recipe-modal--number.servings-input {
  margin: 0 4px 0;
}

.sage-recipe-modal--servings .sage-input {
  width: 52px;
}
